.aboutSection{
    background-color: #eadece;
    margin: 0px 20px 0px 20px;
    padding: 50px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.moldura{
    width: 1200px;
}
.moldura>h2{
    margin: 30px;
}
.moldura>p{
    margin-left: 100px;
}