.formsection{
    background-color: #e3512a;
    color: aliceblue;
    margin: 0px 20px 0px 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}